<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analizador de dominios</title>
    <link href="/static/styles.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
</head>
<body>
    <h1 class="box" style="font-size: xx-large; background: darkslategrey"> Información sobre un dominio</h1>
    <h4>Introduce un dominio para obtener toda la información sobre él</h4>
    <br>
    <form action="/opcional" method="POST">
        <label for="url">Dominio: </label>
        <input type="text" id="url" name="url">
        <input class="minibutton" type="submit" value="Enviar" style="background-color: deepskyblue">
    </form>
    <br><br>
    <a class="button" href="/" style="background-color: deepskyblue">Volver</a>
</body>
</html>



