<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAIN</title>
    <link href="/static/styles.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
</head>
<body>
    <h1 class="box" style="font-size: xx-large; background: darkslategrey"> Elija una opción de nuestro CMI</h1>

    <a class="button" href="/usC" style="background-color: deepskyblue">Top usuarios más críticos</a>
    <a class="button" href="/wIn" style="background-color: deepskyblue">Top webs más inseguras</a>
    <a class="button" href="/vt10" style="background-color: deepskyblue">Top 10 vulnerabilidades a tiempo real</a>
    <a class="button" href="/infoUrl" style="background-color: deepskyblue">Análisis de Dominios</a>
</body>
</html>