<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Información sobre el dominio</title>
    <link href="/static/styles.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
</head>
<body>
    <h1 class="box" style="font-size: xx-large; background: darkslategrey">Esta es la información sobre el dominio introducido</h1>
    {{ text | safe  }}
    <br>
    <a class="button" href="/" style="background-color: deepskyblue">Volver</a>
</body>
</html>